swagger: '2.0'
info:
  title: Bank Argent API Documentation
  description: Contains all available API endpoints of BankArgent transaction
  version: '1.0.0'
  termsOfService: 'http://swagger.io/terms/'
host: api.bankargent.com
basePath: /api/v1
schemes:
  - https
paths:
  /user/{account_id}/transactions:
    get:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Get Transactions grouped by account.
      description: Retrieve all transactions for the current month, grouped by account.
      parameters:
        - in: header
          name: Authorization
          type: string
          description: Attach Bearer JWT token
          required: true
        - in: path
          name: account_id
          type: integer
          description: Account ID to filter transactions by
          required: true
        - in: query
          name: month
          type: string
          description: The month for which to retrieve the transactions (the current month)
          required: true
      produces:
        - application/json
      responses:
        '200':
          description: Transactions retrieved successfully
          schema:
            type: array
            items:
              $ref: '#/definitions/Transaction'
        '400':
          description: Invalid Account ID
        '401':
          description: Unauthorized - Authentication credentials were missing or incorrect
        '403':
          description: Forbidden - The server understood the request but refuses to authorize it
        '500':
          description: Internal Server Error
  /user/{account_id}/transactions/{transactionId}:
    get:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Get Transaction Details
      description: Retrieve details of a specific transaction.
      parameters:
        - in: header
          name: Authorization
          type: string
          description: Attach Bearer JWT token
          required: true
        - in: path
          name: account_id
          type: integer
          description: Account ID to filter transactions by
          required: true
        - in: path
          name: transactionId
          type: integer
          required: true
          description: ID of the transaction to retrieve
      produces:
        - application/json
      responses:
        '200':
          description: Transaction details retrieved successfully
          schema:
            $ref: '#/definitions/Transaction'
        '404':
          description: Transaction not found
        '401':
          description: Unauthorized - Authentication credentials were missing or incorrect
        '403':
          description: Forbidden - The server understood the request but refuses to authorize it
        '500':
          description: Internal Server Error
    patch:
      security:
        - Bearer: []
      tags:
        - Transactions Module
      summary: Update Transaction Category and Notes
      description: Update the category and notes of a specific transaction.
      parameters:
        - in: header
          name: Authorization
          type: string
          description: Attach Bearer JWT token
          required: true
        - in: path
          name: account_id
          type: integer
          description: Account ID to filter transactions by
          required: true
        - in: path
          name: transactionId
          type: integer
          required: true
          description: ID of the transaction to update
        - in: body
          name: body
          required: true
          schema:
            type: object
            properties:
              category:
                type: string
                description: Category of the transaction
              notes:
                type: string
                description: Notes about the transaction
      produces:
        - application/json
      responses:
        '200':
          description: Transaction category and notes updated successfully
          schema:
            $ref: '#/definitions/ApiResponse'
        '404':
          description: Transaction not found
        '400':
          description: Invalid Fields
        '401':
          description: Unauthorized - Authentication credentials were missing or incorrect
        '403':
          description: Forbidden - The server understood the request but refuses to authorize it
        '500':
          description: Internal Server Error
securityDefinitions:
  Bearer:
    type: apiKey
    name: Authorization
    in: header
definitions:
  Transaction:
    type: object
    required:
      - transactionId
      - date
      - description
      - amount
      - balance
    properties:
      transactionId:
        type: integer
      date:
        type: string
        format: date
      description:
        type: string
      amount:
        type: number
        format: float
      balance:
        type: number
        format: float
      type:
        type: string
      category:
        type: string
      notes:
        type: string
  ApiResponse:
    type: object
    required:
      - code
      - message
    properties:
      code:
        type: integer
        description: HTTP status code of the response
      message:
        type: string
        description: Message detailing the result of the operation
